/* List item styling */
.filled-list-view .list-group-item {
	background-color: #ffe2cd;
	border-color: #495867;
	border-width: 0.078rem;
}

.filled-list-view .add-item-card {
	background-color: #ffe2cd;
	border-color: #495867;
	border-width: 0.078rem;
}

#plus-item-card {
	/* border: 0.15rem dashed #495867; */
	border: transparent;
	/* border-width: 0.078rem; */
	background-color: #e0e0e0;
	/* background-color: white; */
	/* background-color: transparent; */
}

#plus-item-card h4 {
	background: transparent;
	border: transparent;
	color: #495867;
	font-weight: bold;
	margin: auto;
}

.filled-list-view .flex-wrap-item-name {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* this hides the overflow of an extremely long worded item edge case */
.filled-list-view .flex-wrap-item-name form {
	display: inline-block;
	width: 14.063rem;
	overflow: hidden;
}

.filled-list-view .flex-center-bread-img {
	display: flex;
	justify-content: center;
	padding-top: 5%;
}

.filled-list-view .flex-center-bread-img svg {
	width: 13rem;
}
