/* List item styling */
.filled-list-view .list-group-item {
	background-color: #ffe2cd;
	border-color: #495867;
	border-width: 1.25px;
}

.filled-list-view .flex-wrap-item-name {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* this hides the overflow of an extremely long worded item edge case */
.filled-list-view form {
	display: inline-block;
	width: '225px';
	overflow: hidden;
}

.filled-list-view .flex-center-bread-img {
	display: flex;
	justify-content: center;
}

.filled-list-view .flex-center-bread-img img {
	width: 205px;
	padding-top: 5%;
}
