/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lustria&display=swap');

/* Component styles */
@import './styles/Home.css';
@import './styles/ListItem.css';
@import './styles/Layout.css';

:root {
	--color-black: hsla(220, 13%, 18%, 1);
	--color-gray-dark: hsla(220, 13%, 25%, 1);
	--color-white: hsla(220, 13%, 98%, 1);
	--color-gray-light: hsla(220, 13%, 94%, 1);
	--color-emerald-green: hsla(168, 92%, 25%, 1);
	--color-vermillion-green: hsla(168, 92%, 43%, 1);
	--color-cobalt-blue: hsla(215, 100%, 34%, 1);
	--color-pastel-blue: hsla(215, 100%, 73%, 1);
	--color-red: hsl(0, 68%, 42%);

	--color-accent: var(--color-pastel-blue);
	--color-bg: var(--color-black);
	--color-bg-well: var(--color-gray-dark);
	--color-error: var(--color-red);
	--color-text: var(--color-white);

	/* new colors */
	--color-peach: #ecc8af;
	--color-mid-peach: #e7ad99;
	--color-coral: #ce796b;
	--color-caramel: #c18c5d;
	--color-dusty-blue: #495867; /* button & navbar color */
	--color-dark-blue-hover: #2e3c49; /* when hovering over a button or link */
	--color-dark-gray: #2d3237; /* main font color */
}

@media screen and (prefers-color-scheme: light) {
	:root {
		--color-accent: var(--color-cobalt-blue);
		--color-bg: var(--color-white);
		--color-bg-well: var(--color-gray-light);
		--color-text: var(--color-black);
	}
}

:root.theme-light {
	--color-accent: var(--color-cobalt-blue);
	--color-bg: var(--color-white);
	--color-bg-well: var(--color-gray-light);
	--color-text: var(--color-black);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

/**
 * Make sure the app fills the height of the viewport
 * This causes issues with the navbar, so we commented it out but may need to revisit
 */
/* html,
body,
#root,
#root > * {
	min-height: 100vh;
} */

/* 
html {
	font-size: 62.5%;
} */

/* AC: TEST COMMIT 2*/
body {
	background-color: var(--color-peach);
	color: var(--color-dusty-blue);
	font-family: 'Lato', -apple-system, BlinkMacSystemFont, avenir next, avenir,
		segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
	font-size: 1.1rem;
	line-height: 1.4;
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: var(--color-dusty-blue);
}

a:hover {
	color: var(--color-dark-blue-hover);
}

img {
	width: 100%;
}

.btn-custom {
	background: var(--color-dusty-blue);
	border: var(--color-dusty-blue);
}

.btn-custom:hover {
	background: var(--color-dark-blue-hover);
}

.btn-custom:active {
	background: var(--color-dusty-blue) !important;
}

/* to team: I don't think we need this "code" styling */
code {
	--color-bg: var(--color-gray-dark);
	--color-text: var(--color-accent);

	background-color: var(--color-bg);
	border-radius: 4px;
	color: var(--color-text);
	display: inline-block;
	font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
		monospace;
	font-size: 0.9em;
	padding: 0.15em 0.15em;
}

@media screen and (prefers-color-scheme: light) {
	code {
		--color-bg: var(--color-gray-light);
	}
}

:root.theme-light code {
	--color-bg: var(--color-gray-light);
}

ul {
	padding: 0;
}
