/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lustria&display=swap');

/* Component styles */
/* All css styles for the individual components and views should be imported here */
@import './styles/Home.css';
@import './styles/ListItem.css';
@import './styles/AddItem.css';
@import './styles/Layout.css';
@import './styles/List.css';
@import './styles/NavbarShoppingList.css';

:root {
	/* app main colors */
	--color-peach: #ecc8af;
	--color-mid-peach: #e7ad99;
	--color-coral: #ce796b;
	--color-caramel: #c18c5d;
	--color-dusty-blue: #495867; /* button & navbar color */
	--color-dark-blue-hover: #2e3c49; /* when hovering over a button or link */
	--color-dark-gray: #2d3237; /* main font color */
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

/* html,
body,
#root,
#root > * {
	min-height: 100vh;
} */

body {
	background-color: var(--color-peach);
	color: var(--color-dusty-blue);
	font-family: 'Lato', -apple-system, BlinkMacSystemFont, avenir next, avenir,
		segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
	font-size: 1.1rem;
	line-height: 1.4;
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: var(--color-dusty-blue);
}

a:hover {
	color: var(--color-dark-blue-hover);
}

img {
	width: 100%;
}

.btn-custom.disabled,
.btn-custom:disabled:hover {
	background: lightgray;
}

/** These custom button classes are used to override the Bootstrap button colors */
.btn-custom {
	background: var(--color-dusty-blue);
	border: var(--color-dusty-blue);
	border-radius: 5px;
	color: #fff;
	margin: 0 0.3rem;
}

.btn-custom:hover {
	background: var(--color-dark-blue-hover);
}

.btn-custom:active {
	background: var(--color-dusty-blue) !important;
}

/* Media Queries */

/* small devices, non-iPhone PRO */
@media screen and (max-width: 400px) {
	.home {
		padding-top: calc(1rem + env(safe-area-inset-top, 1rem));
		margin: 1rem auto !important; /* !important keyword to overwrite bootstrap utility class */
	}
	.home .app-summary {
		max-width: 100%;
	}
}

/* small tablets & ipad styles - NAVBAR SPECIFIC */
@media screen and (max-width: 600px) {
	.navbar-custom .container-fluid {
		flex-direction: column;
	}

	.navbar-custom .logo-text-container {
		justify-content: center;
	}
}

/* small tablets & ipad styles */
@media screen and (min-width: 600px) {
	.home {
		padding-top: calc(7rem + env(safe-area-inset-top, 1rem));
	}
	.home-input {
		width: 65%;
	}
	.filled-list-view .card {
		width: 60%;
	}
	.empty-list-view .card {
		width: 60%;
	}
	.filled-list-view .search-bar {
		margin: auto;
		width: 45%;
	}
	.filled-list-view .flex-wrap-item-name form {
		width: 85%;
	}
	.filled-list-view .flex-center-bread-img img {
		width: 65%;
	}
}
/* large tablets & laptop styles */
@media screen and (min-width: 960px) {
	.home {
		padding-top: calc(7rem + env(safe-area-inset-top, 1rem));
	}
	.home-input {
		width: 50%;
	}
	.filled-list-view .card {
		width: 60%;
	}
	.empty-list-view .card {
		width: 60%;
	}
	.filled-list-view .search-bar {
		margin: auto;
		width: 45%;
	}
	.filled-list-view .flex-wrap-item-name form {
		width: 85%;
	}
	.filled-list-view .flex-center-bread-img img {
		width: 65%;
	}

	.navbar-collapse {
		flex-grow: 0;
	}
}
/* large desktop styles */
@media screen and (min-width: 1200px) {
	.home {
		padding-top: calc(0rem + env(safe-area-inset-top, 1rem));
	}
	.home-input {
		width: 50%;
	}

	.home h5 {
		font-size: 1.4rem;
	}

	.filled-list-view .card {
		width: 60%;
	}
	.empty-list-view .card {
		width: 60%;
	}
	.filled-list-view .search-bar {
		margin: auto;
		width: 45%;
	}
	.filled-list-view .flex-wrap-item-name form {
		width: 85%;
	}
	.filled-list-view .flex-center-bread-img img {
		width: 65%;
	}
}

/* extra large desktop styles */
@media screen and (min-width: 1382px) {
	.home {
		padding-top: calc(7rem + env(safe-area-inset-top, 1rem));
	}
}

ul {
	padding: 0;
}
